<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentication Page</title>
</head>
<body>
    <h1>Authentication with expressjs & firebase!</h1><br />
    <form action="/login" method="POST">
        <label for="email">
            Your email<br />
            <input type="email" name="email" id="email" placeholder="Your email">
        </label><br />
        <label for="password">
            Your password<br />
            <input type="password" name="password" id="password" placeholder="Your password">
        </label><br />
        <input type="submit" value="Login">
    </form>
</body>
</html>